go 1.20

use (
	./000_basic
	./000_basic_depth
	./001_sliceandarray
	./002_goroutine
	./004_stack
	./005_map
	./007_set
	./008_IO
	./009_go_grpc_swagger
	./009_go_protocol_buffers
	./010_go_context
	./011_go_gcp
	./012_go_test
	./013_go_grpc_gateway_mux
	./014_go_gcp_aead_kms
	./015_golang_generics
	./016_go_race_conditions
	./017_go_batch_process
	./018_go_schedulers/sample01
	./019_uber_style_golang_guide
	./020_go_with_gcp_kms_sample
	./021_floating_point_error
	./022_abstract
	./023_builder
	./024_go_casting
	./027_wrapping_interface
	./028_go_xss_filter
	./029_go_chatgpt
	./030_go_rx
	./031_go_lo
	./032_mqtt_go
	./033_gorm
	./034_go_tdd
	./036_go_file_upload
	./037_go_graphql
	./038_osthread_goroutine
	./039_go_mockery
	./995_oop
	./996_samples
	./997_designpattern
)
